<div class='content'>
  <h1>Log in</h1>
  <div id='flash'><%= render 'shared/flash_messages' %></div>
  <div>
    <div id='login_form'>
      <%= form_for(:session, url: login_path) do |f| %>
        <%= f.label :login %>
        <%= f.text_field :login, autofocus: true, autocomplete: 'off' %>
        <%= f.label :password %>
        <%= f.password_field :password %>
        <div class='login-button'>
          <%= f.submit 'Log in', class: 'btn' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
