<div class='content'>
  <div>
    <div id='new-password'>
      <%= form_for @owner, url: password_path(@owner), method: :patch, remote: true, html: { multipart: true } do |f| %>
        <div>
          <%= f.label :password, autofocus: true %>
          <%= f.password_field :password %>
        </div>
        <div>
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation %>
        </div>
        <div>
          <%= button_tag(type: 'submit', class: 'btn') do %>
            <i class="fa fa-check"></i> Accept
          <% end %>
        </div>
      <% end -%>
    </div>
  </div>
</div>
