<div id='new-password'>
  <h1>New Password</h1>
  <%= form_for @owner, url: password_path(@owner), method: :patch, html: { multipart: true } do |f| %>
    <%= render 'shared/error_messages', object: @owner %>

    <div>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <div>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>

    <div>
      <%= button_tag(type: 'submit', class: 'btn') do %>
        <i class="fa fa-check"></i> Accept
      <% end %>
      <%= link_to(root_url, class: 'btn') do %>
        <i class="fa fa-chevron-left"></i> Back
      <% end %>
    </div>

  <% end -%>
</div>
