<div id='contact'>
  <h1>Contact</h1>
  <%= form_for @message, url: contact_message_path, method: :post do |f| %>
    <%= render 'shared/error_messages', object: @message %>
    <div>
      <%= f.label :from %>
      <%= f.text_field :from, autocomplete: 'off' %>
    </div>
    <div>
      <%= f.label :subject %>
      <%= f.text_field :subject, autocomplete: 'off' %>
    </div>
    <div>
      <%= f.label :content %>
      <%= f.text_area :content,  rows: '5' %>
    </div>
    <div class='captha'>
      <%= f.label :humanizer_answer, 'Anti Spam question: ' + @message.humanizer_question %>
      <%= f.text_field :humanizer_answer, autocomplete: 'off' %>
      <%= f.hidden_field :humanizer_question_id %>
    </div>
    <div>
      <%= button_tag(type: 'submit', class: 'btn') do %>
        Accept
      <% end %>
    </div>
  <% end %>
</div>
