<div id='skills'>
  <h1>Skills</h1>
  <div class='tech-skills'>
    <div class='tech-skill'><%= render 'svg/html5'%><div class='tech-skill-desc'>Html5</div></div>
    <div class='tech-skill'><%= render 'svg/css3'%><div class='tech-skill-desc'>CSS3</div></div>
    <div class='tech-skill'><%= render 'svg/js'%><div class='tech-skill-desc'>Javascript</div></div>
    <div class='tech-skill'><%= render 'svg/jquery'%><div class='tech-skill-desc'>JQuery</div></div>
    <div class='tech-skill'><%= render 'svg/ror'%><div class='tech-skill-desc'>Ruby on Rails</div></div>
    <div class='tech-skill'><%= render 'svg/sql'%><div class='tech-skill-desc'>SQL</div></div>
    <div class='tech-skill'><%= render 'svg/git'%><div class='tech-skill-desc'>GIT</div></div>
  </div>
  <div class='tech-placeholder'>
    <div class='tech-placeholder-filter'></div>
  </div>
  <p>
    <b>Above is my technology stack, additionally I'm Linux user, which fell good in console. I know "some"
      about graphics manipulations, use Heroku, DigitalOcean for deployment and Atom, Inkscape, Gimp for development.</b>
  </p>
  <h2>Ruby on Rails Experience:</h2>
  <p>
    closure_tree, pry, better_errors, rspec, capybara, selenium-webdriver, launchy, database_cleaner,
    factory_girl_rails, faker, will_paginate, judge, ransack, prawn, axlsx, autoprefixer-rails, puma,
    devise, tinymce-rails, paperclip, paperclip-dropbox, sidekiq, clockwork, acts_as_votable, font-awesome-rails,
    kaminari, client_side_validations, humanizer, carrierwave, fog-aws, fog, ckeditor, bootstrap, jquery-rails,
    vagrant,  passenger, heroku, digital-oceanr and many more...
  </p>
</div>
