<div class='project'>
  <div class='project-name'><%= project.name %></div>
  <div class='project-content'>
    <%#= project.thumb %>
    <div class='thumb' style="background-image: url('<%= project.thumb.url %>');"></div>
    <%= project.description %>
    <div style='clear:both;'></div>
  </div>
  <div>
    <div class='link'>Github link:
      <% unless project.github_link.nil? || project.github_link.empty? -%>
        <%= link_to project.github_link, "http://"+project.github_link %>
      <% else %>
        "there is no link"
      <% end -%>
    </div>
    <div class='link'>Live demo link:
      <% unless project.demo_link.nil? || project.demo_link.empty? -%>
      <%= link_to project.demo_link, "http://"+project.github_link %>
      <% else %>
        "there is no link"
      <% end -%>
    </div>
    <div style='clear:both;'></div>
  </div>
  <div class='when'>
    <%= project.when_created %>
  </div>

  <div class='project-buttons'>
    <%= link_to "edit", edit_project_path(project), class: 'edit' %>
    <%= link_to "delete", project, method: :delete, class: 'delete' %>
  </div>
</div>
