<header>
  <div class='sky'>
    <div class='container'>
      <div class='author'>
        <p class='name'>Dariusz Murawski</p>
        <p class='aka'><span>aka:</span> MURARIUS</p>
        <p class='profession'>network administrator | web tinker | rails developer</p>
      </div>
      <div class='plane'><%=image_tag('plane.svg') %></div>
      <div class='cloud-1'><%=image_tag('cloud1.svg', size: '400') %></div>
      <div class='cloud-2'><%=image_tag('cloud2.svg', size: '200') %></div>
      <div class='cloud-3'><%=image_tag('cloud3.svg', size: '300') %></div>
      <div class='cloud-4'><%=image_tag('cloud1.svg', size: '500') %></div>
      <div class='cloud-5'><%=image_tag('cloud2.svg') %></div>
      <div class='tower'></div>
    </div>
    <div class='ground'></div>
    <div class='ground-fill'></div>
  </div>
</header>
