<header>
  <div class='sky'>
    <div class='container'>
      <div class='author'>
        <p class='name'>Dariusz Murawski</p>
        <p class='aka'><span>aka:</span> MURARIUS</p>
        <p class='profession'>network administrator | web tinkerer | rails developer</p>
      </div>
      <div class='author-1000'>
        <p class='name'>Dariusz Murawski</p>
        <p class='aka'><span>aka:</span> MURARIUS</p>
        <p class='profession'>network administrator | web tinkerer | rails developer</p>
      </div>
      <div class='author-500'>
        <p class='name'>Dariusz Murawski</p>
        <p class='aka'><span>aka:</span> MURARIUS</p>
        <p class='profession'>network administrator | web tinkerer | rails developer</p>
      </div>
      <div class='plane'><%=image_tag('plane.svg') %></div>
      <div class='cloud-1'><%=image_tag('cloud1.svg') %></div>
      <div class='cloud-2'><%=image_tag('cloud2.svg') %></div>
      <div class='cloud-3'><%=image_tag('cloud3.svg') %></div>
      <div class='cloud-4'><%=image_tag('cloud1.svg') %></div>
      <div class='cloud-5'><%=image_tag('cloud2.svg') %></div>
      <div class='tower'></div>
    </div>
    <div class='ground'></div>
    <div class='ground-fill'></div>
  </div>

  <div class='header-nav'>
    <div>
      <a href="#about" class='goto'><i class="fa fa-male"></i></a>
      <span>About</span>
    </div>
    <div>
      <a href="#skills" class='goto'><i class="fa fa-certificate"></i></a>
      <span>Skills</span>
    </div>
    <div>
      <a href="#work" class='goto'><i class="fa fa-desktop"></i></a>
      <span>Work</span>
    </div>
    <div>
      <a href="#contact" class='goto'><i class="fa fa-envelope"></i></a>
      <span>Contact</span>
    </div>
    <div>
      <a target="_blank" href='https://github.com/Murarius'><i class="fa fa-github"></i></a>
      <span>My Github</span>
    </div>
  </div>

</header>
